{% extends 'sitemen/base.html' %}
{% load static %}

{% block content %}
    <link type="text/css" href="{% static 'men/css/main.css' %}" rel="stylesheet" />

    <h2 class="pb-2 border-bottom title">
        {{ title }}
    </h2>tttttt

rtf   <div class="container">
  <div class="row">

    {% for post in posts %}
      <div class="col-md-4 mb-4 card-wrapper">
        <div class="card fixed-card">

          <div class="card-borrrdyr">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
             {% if post.photo %}
            {{ post.photo }}
            {% else %}
            <p>Фото отсутствует</p>
            {% endif %}
            <a href="{{post.get_absolute_url}}" class="btn btn-primary">Читать пост</a>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>



{% endblock %}
rrrrrrrrr5